td {
  padding: 5px; /* Поля вокруг содержимого ячеек */
  border: 1px solid black; /* Граница вокруг ячеек */
  text-align: center;
}

h1 {
  display: flex;
  justify-content: center;
}
table {
  margin: auto;
  border: "2px solid";
  text-align: center;
}
